<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section sec:authorize="hasRole('ROLE_ADMIN')" th:fragment="agregarPersona">
            <div id="agregarPersona" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Persona</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/guardarPersona}" th:object="${persona}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{persona.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="direccion" th:text="#{persona.direccion}">Direccion</label>
                                    <input type="text" class="form-control" name="direccion" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{persona.telefono}">Telefono</label>
                                    <input type="text" class="form-control" name="telefono" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="fechaIngreso" th:text="#{persona.fecha-ingreso}">Fecha Ingreso</label>
                                    <input type="date" class="form-control" name="fechaIngreso">
                                </div>
                                <div class="form-group">
                                    <label for="userName" th:text="#{persona.user}">User</label>
                                    <input type="text" class="form-control" name="userName" required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn  btn-primary" type="submit" th:text="#{accion.guardar}"></button>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </section>
    </body>
</html>
