<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Itinerarios</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section sec:authorize="hasRole('ROLE_GUIA')" th:fragment="listadoGuiaItinerarios" id="listadoGuiaItinerarios">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de itinerarios a su cargo</h4>
                            </div>
                            <div th:if="${guiaItinerarios != null and !guiaItinerarios.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{guia.duracion}">Duracion</th>
                                            <th th:text="#{guia.longitud}">Longitud</th>
                                            <th th:text="#{guia.max-visitantes}">Max Visitantes</th>
                                            <th th:text="#{guia.num-especies}">Num Especies</th>
                                            <th th:text="#{guia.horario}">Horario</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="guiaItinerario : ${guiaItinerarios}">
                                            <td>[[${guiaItinerario.itinerario.idItinerario}]]</td>
                                            <td>[[${guiaItinerario.itinerario.duracion}]]</td>
                                            <td>[[${guiaItinerario.itinerario.longitud}]]</td>
                                            <td>[[${guiaItinerario.itinerario.maxVisitantes}]]</td>
                                            <td>[[${guiaItinerario.itinerario.numEspecies}]]</td>
                                            <td>[[${guiaItinerario.itinerario.horario}]]</td>
                                              
                                            <td>
                                                <a th:href="@{/editarGuiaItinerario/} + ${guiaItinerario.idGuiaItinerario}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/eliminarGuiaItinerario(idGuiaItinerario=${guiaItinerario.idGuiaItinerario})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${guiaItinerarios == null or guiaItinerarios.empty}">
                                <span th:text="#{objeto.lista-vacia}">Lista vacia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{persona.fecha-ingreso}">Fecha Ingreso</h3>
                                <h4 class="display-4"><!-- fuente -->
                                    prueba
                                </h4>
                            </div>                            
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{persona.telefono}">Telefono</h3>
                                <h4 class="display-4">
                                    <i class="fas fa-users"></i> prueba
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
