<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Personas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section sec:authorize="hasRole('ROLE_ADMIN')" th:fragment="listadoPersonas" id="listadoPersonas">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de personas</h4>
                            </div>
                            <div th:if="${personas != null and !personas.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{persona.nombre}">Nombre</th>
                                            <th th:text="#{persona.direccion}">Direcciono</th>
                                            <th th:text="#{persona.telefono}">Tel</th>
                                            <th th:text="#{persona.fecha-ingreso}">Fecha Ingreso</th>
                                            <th th:text="#{persona.user}">Usuario</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="persona : ${personas}">
                                            <td>[[${persona.id}]]</td>
                                            <td>[[${persona.nombre}]]</td>
                                            <td>[[${persona.direccion}]]</td>
                                            <td>[[${persona.telefono}]]</td>
                                            <td>[[${persona.fechaIngreso}]]</td>
                                            <td>[[${persona.userName}]]</td>
                                            <td>
                                                <a th:href="@{/editarPersona/} + ${persona.id}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/eliminarPersona(id=${persona.id})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/verPersona(id=${persona.id})}"
                                                   class="btn btn-dark">
                                                    <i class="fas fa-angle-double-right"></i> Ver
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${personas == null or personas.empty}">
                                <span th:text="#{objeto.lista-vacia}">Lista vacia</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 class="display-5">
                                    <i class="fas fa-user"></i> Admin
                                </h3>
                                <h4 th:text="${persona.nombre}">Admin</h4>
                            </div>                            
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 class="display-5">
                                    <i class="fas fa-clock"></i> Fecha
                                </h3>
                                <h6 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">Fecha</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
