<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Inicio</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
 
        <section th:replace="layout/agregarPersona :: agregarPersona"></section>
        <section th:replace="layout/botonesAgregarPersona :: botonesAgregarPersona"></section>
        <section th:replace="layout/listadoPersonas :: listadoPersonas"></section>
        
        <section th:replace="layout/listadoCuidadorEspecies :: listadoCuidadorEspecies"></section>
        
        <section th:replace="layout/listadoGuiaItinerarios :: listadoGuiaItinerarios"></section>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
        <!--a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}">[[#{persona.crear}]]</a-->
    </body>
</html>
